#listWrap{
	display: inline-block;
}

#empty{
	width: 100%;
}
.element{
	text-decoration: none;
	color: black;
}

.ctrlShow{
	height: 100%;
	position: relative;
	top: 0;
}

.ctrlHide{
	height: 0;
	top: -500px;
	visibility: hidden;
}

.eltShow {
	width: 100%;
	position: relative;
	left: 0;
}

.eltHide {
	width: 0;
	left: -100px;
	transform: rotate(45deg);
	visibility: hidden;
}