<div>
	<p>You have {{todoList.length}} things to do</p>
	<table id="listWrap">
		<tr>
			<!--<th><md-checkbox>check</md-checkbox></th>-->
			<th><input type="checkbox"></th>
			<th><p>Task</p></th>
			<th><span>Status</span></th>
		</tr>
		<tr *ngFor='let i of todoList' [class]="(i.visible) ? 'eltShow' : 'eltHide'">
			<!--<td><md-checkbox (change)='hosControls()'></md-checkbox></td>-->
			<th><input type="checkbox" (change)='hosControls()'></th>
			<td><a [routerLink]="['/todo', i.num]" class="element" routerLinkActive="active">{{i.title}}</a></td>
			<td><span>{{getStatus(i.status)}}</span></td>
		</tr>
		<tr>
			<td></td>
			<td><input type='text' value='' placeholder='Add element' id="empty" class="element" #empty (change)="addElement(empty.value); empty.value='';"/></td>
			<td></td>
		</tr>
	</table>
	<div id="controls"><!-- class="{{ctrlHosClass}}">-->
		<button (click)='completed()'>Set as completed</button>
		<button (click)='deletee()'>Delete</button>
		<br/>
		<button (click)="hosCompleted()">{{this.ishosCompleted}} completed</button>
		<br/>
		<button (click)="saveHttp()">Save on server</button>
	</div>
</div>

<!--
<div>
	<p>You have {{todoList.length}} things to do</p>
	<md-table id="listWrap">
		<ng-container>
			<md-header-cell *cdkHeaderCellDef> <md-checkbox></md-checkbox> </md-header-cell>
			<md-cell *cdkCellDef="let row"> <md-checkbox (change)='hosControls()'></md-checkbox> </md-cell>
		</ng-container>
		<ng-container>
			<md-header-cell *cdkHeaderCellDef> Task </md-header-cell>
			<md-cell *cdkCellDef="let i"> <a [routerLink]="['/todo', i.num]" class="element" routerLinkActive="active">{{i.title}}</a> </md-cell>
			<md-input-container>
				<input mdIput value='' placeholder='Add element' id="empty" class="element" #empty (change)="addElement(empty.value); empty.value='';"/>
			</md-input-container>
		</ng-container>
		<ng-container>
			<md-header-cell *cdkHeaderCellDef> Status </md-header-cell>
			<md-cell *cdkCellDef="let i"> {{getStatus(i.status)}} </md-cell>
		</ng-container>
	</md-table>
	<div id="controls"><!-- class="{{ctrlHosClass}}">- ->
		<button md-button (click)='completed()'>Set as completed</button>
		<button md-button (click)='deletee()'>Delete</button>
		<br/>
		<md-button-toggle (click)="hosCompleted()">{{this.ishosCompleted}} completed</md-button-toggle>
		<br/>
		<button md-button (click)="saveHttp()">Save on server</button>
	</div>
</div>
-->