<div id="navDiv" class="div{{burgerShow}}">
	<img src="./assets/burger.png" alt="menu" id="burger" (click)="notBurgerShow()"/>
	<nav class="nav{{burgerShow}}">
	  nav elements here <br/>
	  nav elements here <br/>
	  nav elements here <br/>
	  nav elements here <br/>
	  nav elements here <br/>
	</nav>
</div>

<!--
<div id="navDiv" class="div{{burgerShow}}">
	<md-sidenav-container class="nav{{burgerShow}}">
		<i class="material-icons" id="burger" (click)="leftnav.open()">menu</i>
		<md-sidenav #leftnav mode="over">
			nav elements here
			nav elements here
			nav elements here
			nav elements here
		</md-sidenav>
		<router-outlet></router-outlet>
	</md-sidenav-container>
</div>
-->