#navDiv {
	background-color: black;
	color: white;
	height: 100%;
}

#burger {
	width: 40px;
}

.navCollapse {
	visibility: hidden;
	width: 0;
}

.navExpand {
	visibility: visible;
	width: 100%;
}

.divCollapse {
	overflow: unset;
}

.divExpand {
	overflow: auto;
}